---
// Static Featured Posts using HTML + SCSS
---

<section class="section-preview">
    <h2>&#128301; Featured Posts</h2>
    <div class="post-grid">
      <a href="https://open.substack.com/pub/natdeviouswings/p/nasas-orion-the-spacecraft-paving" class="post-card" target="_blank">
        <img src="/images/moonbase.jpg" alt="Moonbase">
        <h3>Moonbase Log</h3>
      </a>
  
      <a href="https://safireproject.com/film/story.html" class="post-card" target="_blank">
        <img src="/images/safire.jpg" alt="SAFIRE Project">
        <h3>SAFIRE Project</h3>
      </a>
  
      <div class="post-card">
        <img src="/images/spacex-mars-base.jpg" alt="Mars Base">
        <h3>Mars Base</h3>
      </div>
  
      <a href="https://www.sierraspace.com/space-destinations/life-space-habitat/" class="post-card" target="_blank">
        <img src="/images/lifehab.jpg" alt="Sierra Space LifeHab">
        <h3>Sierra Space LifeHab</h3>
      </a>
    </div>
  </section>