<footer>
    <p>&copy; 2025 The Cosmos Library - Nathanael King</p>
    <nav>
      <a href="/">Home</a>
      <a href="/library">Library</a>
      <a href="/about">About Me</a>
      <a href="/site-plan-space">Site Plan</a>
    </nav>
  </footer>