<footer>
    <p>&copy; 2025 The Cosmos Library - Nathanael King</p>
<a href="https://buymeacoffee.com/deviouswings" target="_blank" class="btn-coffee">
  ☕ Buy Me a Coffee
</a>
<h4>This stuff aint cheap</h4>

    <nav>
      <a href="/">Home</a>
      <a href="/library">Library</a>
      <a href="/about">About Me</a>
      <a href="/site-plan-space">Site Plan</a>
    </nav>
  </footer>