#hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10em 1em;
  background: url("../images/nightSky.jpg") no-repeat center center/cover;


  > * {
    position: relative;
    z-index: 1;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 0.3em;
    color: var(--primary);
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1em;
    color: var(--text-light);
  }

  .hero-buttons {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;

    a {
      background: var(--accent);
      color: var(--bg);
      padding: 0.75em 1.5em;
      border-radius: 8px;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        background: var(--primary);
        color: var(--text-light);
      }
    }
  }
}
